name: Auto Deploy Quasar Dev

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install dependencies
      run: npm ci

    - name: Install Quasar CLI
      run: npm install -g @quasar/cli

    - name: Build Quasar
      run: quasar build -m spa

    - name: Create zip of build
      run: zip -r crm-test.pp.ru/dist/spa.zip crm-test.pp.ru/dist/spa

    - name: Send build to webhook
      run: |
        curl -X POST https://crm-test.pp.ru/hooks/ \
          -F "file=@crm-test.pp.ru/dist/spa.zip"
